<div class="container">

  <nav class="navbar navbar-toggleable-md navbar-light bg-success">
  <a class="navbar-brand" href="#">Navbar</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a><br>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
  </div>
  </nav>




  <h1>Welcome to Bug Out</h1>

  <ul>
    {{#each model as |entry|}}
      {{entry-tile entry=entry}}
    {{/each}}
  </ul>

  {{entry-form saveEntry="saveEntry"}}

  {{#link-to 'contact'}} Click Here to Contact us{{/link-to}}<br>
  {{#link-to 'about'}}About us{{/link-to}}
</div>
